.navbar {
  width: 20%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}
.logo{
  width: 60%;
}
.navbar-logo {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}

.navbar-menu {
  width:65%;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;

}

.navbar-menu li {
  padding: 17% 0%;
  position:relative;
  padding-left: 20%;
}
.navbar-menu li a::before,
.navbar-menu li a::after {
  content: '';
  position: absolute;
  left: 0; 
  top: 50%;
  width: 10px;
  height: 1.5px; 
  background-color: #333; 
  transform: translateY(-50%); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.navbar-menu li a::after {
  transform: translateY(-50%) rotate(0deg); 
  opacity: 0;
}
.navbar-menu li a:hover::after,.navbar-menu li a:hover::before{
  background-color:#535bf2;
}

.navbar-menu li a:hover::after {
   opacity: 1; 
   transform: translateY(-50%) rotate(-90deg);
 
}

.navbar-menu li:not(:first-child) {
  border-top: 1px solid #ccc;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
}

.navbar-social span {
  margin-right: 10px;
}

