.quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  margin: 0 auto;
}

.quienes-somos-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.quienes-somos-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.quienes-somos-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 8px;
  margin-bottom: 5%;
}
.quienes-somos-title h2 {
  margin-left: 0;
}

.quienes-somos-title span {
  color: #00b7ff;
  font-weight: bold;
  font-size: 2rem;
}

.quienes-somos-image {
  flex: 1 1 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.quienes-somos-image img {
  width: 100%;
  max-height: 550px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.quienes-somos-stats {
  width: 100%;
  background-color: var(--color-principal);
  color: var(--color-texto-claro);
  text-align: center;
}

.quienes-somos-stats .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.contador-estadistica {
  flex: 1 1 200px;
  max-width: 300px;
}

.contador-estadistica h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-texto-claro);
}

.contador-estadistica p {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  color: var(--color-texto-claro);
}

div.card.h-100.p-3 {
  width: 70vw;
  display: contents;
}

p.lead.text-muted {
  text-align: center;
}

div.card-body.text-center {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row > * {
  flex-shrink: 0;
  width: initial;
  max-width: initial;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}

@media (min-width: 768px) {
  div.card.h-100.p-3 {
    width: 100%;
  }

  .quienes-somos-parrafos {
    line-height: 1.6;
    width: 80%;
  }
  .quienes-somos-stats .row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0px;
  }

  .quienes-somos-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding: 0 0px;
  }

  .quienes-somos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
  }

  .quienes-somos-image {
    max-width: 50%;
    justify-content: center;
  }

  .quienes-somos-image img {
    max-height: 630px;
  }

  .quienes-somos-parrafos {
    width: 70%;
    margin-left: 15%;
  }
  .quienes-somos-title {
    margin-bottom: 15%;
  }
}
