.servicios {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  background-color: #d2d2d7;
  width: 100%;
}

.servicios h2 {
  margin-top: 60px;
  text-align: center;
}
.service-image {
  width: 30px;
}

.servicios-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px;
  padding: 0 7%;
  width: 100%;
  box-sizing: border-box;
}

.servicio-item {
  display: flex;
  align-items: flex-start;
}

.servicio-icon {
  font-size: 1.5em;
  background-color: var(--color-terciario);
  color: var(--color-texto-claro);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.servicio-content h3 {
  margin: 0 0 10px 0;
}

.servicio-content p {
  margin: 0;
  font-size: smaller;
}

@media (max-width: 768px) {
  .servicios-grid {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 30px 0;
    margin-bottom: 15px;
    padding: 0 7%;
  }
}
